<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Statement</title>
    <link rel="stylesheet" href="basic_invoice_template.css">
</head>
<body>
    <div class="statement-header">
        <h1>
            {{bankName}}
        </h1>
        <p>
        <strong>
        Account Number:
        </strong>
        {{accountNumber}}
        </p>
        <div class="statement-summary">
            <div>
                <strong>
                    Period:
                </strong>
                {{periodStart}} - {{periodEnd}}
            </div>
            <div>
                <strong>
                    Transactions:
                </strong>
                {{totalTransactions}}
            </div>
            <div>
                <strong>
                    Opening Balance
                </strong>
                {{openingBalance}}
            </div>
            <div>
                <strong>
                    Closing Balance
                </strong>
                {{closingBalance}}
            </div>
        </div>

        <h2 class="section-title">
            Transactions
        </h2>

        <table class="transaction-table">
        <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>

            <th>
                Amount
            </th>

            <th>
                Balances
            </th>

            <th>
                Type
            </th>
        </tr>
        </thead>

        <tbody>
            {{#each transactions}}
            <tr>
                <td>
                   {{date}}
                </td>

                <td>
                    {{description}}
                </td>

                <td class="{{type}}">
                   {{amount}}
                </td>

                <td>
                    {{balance}}
                </td>

                <td>
                    {{type}}
                </td>
            </tr>
            {{/each}}
            </tbody>
            </table>
</body>
</html>